<div>
    <h1>
        Test section
    </h1>
</div>

{% schema %}
{
  "name": "global section",
  "class": "global-section",
  "presets": [
    {
      "name": "Global section"
    }
  ]
}
{% endschema %}
