{{ 'component-slideshow.css' | asset_url | stylesheet_tag }}
{{ 'component-slider.css' | asset_url | stylesheet_tag }}

<div>
    <h1>
        Test section
    </h1>
</div>

{% schema %}
{
  "name": "global sections",
  "class": "global-section",
  "presets": [
    {
      "name": "t:sections.announcement-bar.presets.name"
    }
  ]
}
{% endschema %}
